{% extends "blogmanage.html" %}
  {%block managecontent %}
    <table id="artmanagetb">
      <tr align="left">
         <th id="mantitletr">标题</th>
         <th id="manoperator">操作</th>
      </tr>
      {%for article in articles %}
          <tr class="blogtitle">
            <td class="mblogtdt"><a href="/blog/{{userID}}/article/{{article.id}}">{{article.title}}</a></td>
            <td class="mblogtdo"><a href="/blog/{{userID}}/edit/{{article.id}}">编辑 |  </a><a href="/blog/{{userID}}/articlemanage/delete/{{article.id}}">删除</a></td>
         </tr>
        {% endfor %}
    </table>
  {%endblock%}

