<html>
    <head>
       <link rel="stylesheet" type="text/css" href="css/base.css">
      {% block head %}
      {%endblock %} 
     </head>
     <body>
          <div id="logo">
              <a href="/blog" id="bloglogo"></a>
          </div>
          <div id="header">
            {%block header%}
               <h1 style="text-align:center">{{userName}}的blog</h1>
            {%endblock%}
          </div>
          <div id="navigator">
              {%block nav%}
              {%endblock%}
           </div>
          <div id="body">
              <div id="side">
                 <div id="user">
                   <div id="sidehead">
                      <span>个人资料</span>
                   </div>
                   <div id="sidebody">
                      <div id="usersurface">
                         <img src='pic/default.jpg'>
                         <div><a href="/blog/{{userID}}">{{userName}}</a></div>
                      </div>
                   </div>
                 </div>
                 <div id="bcatecount">
                      <div id="bcatecounthead">
                     	 <span>文章分类 <a href="/blog/{{userID}}/categorymanage">编辑</a></span>
                      </div>
                      <div id="bcatecountcontent">
                     	 {% block categorydiv %}
                     	 {%endblock%}
                      </div>
                 </div>
              </div>
              <div id="main">
                {% block content %}
                {%endblock%}
             </div>
           </div>
     </body>
</html>
