<html>
    <head>
       <link rel="stylesheet" type="text/css" href="css/base.css">
       <title>李冬琳</title>
      {% block head %}
      {%endblock %} 
     </head>
     <body>
          <div id="header">
            <h1 style="text-align:center">李冬琳的blog</h1>
            <h3 style="text-align:center">生命不息，奋斗不止</h3>
          </div>
          <div id="navigator">
              <ul class="nav">
                 <li id="btlist" class='navli'>
                    <a href="/blog">博客目录</a>
                 </li>
                 </li id="btmanage" class='navli'>
                    <a href="/blog/articlemanage">管理博客</a>
                 </li>
                 <li id="btedit" class='navli'>
                    <a href="/blog/edit">发表新博客</a>
                 </li>
               </ul>
           </div>
          <div id="body">
             <div id="main">
                {%block content %}
                {%endblock %}
              </div>
              <div id="side">
                 <div id="user">
                   <div id="sidehead">
                      <span>个人资料</span>
                   </div>
                   <div id="sidebody">
                      <div id="usersurface">
                         <img src='pic/ldldong.jpg'>
                      <div>
                   </div>
                 </div>
                 <div id="bcatecount">
                      <div id="bcatecounthead">
                      <span>文章分类 <a href="/blog/editcategory">编辑</a></span>
                      </div>
                      <div id="bcatecountcontent">
                      {% block categorydiv %}
                      {%endblock%}
                      </div>
                 </div>
              </div>
           </div>
     </body>
</html>
