<!DOCTYPE html>
    <head>
       <link rel="stylesheet" type="text/css" href="css/base.css">
       <script src="js/jquery-1.4.1.min.js" type="text/javascript"></script>
       <script src="js/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>
       <script src="js/index.js" type="text/javascript"></script>
      {% block head %}
          <title>{{userName}}的博客</title>
      {%endblock %} 
     </head>
     <body>
          <div id="blogtoolbar">
             <div id="logo">
                <a href="/blog" id="bloglogo"></a>
             </div>
             <div id="loginarea">
              {%if userName%}
                  <a id="userlogined" href="/blog/{{userID}}">{{userName}}</a>
                  <div id="logindiv">
                      <a href="/blog/{{userID}}">我的博客</a><br>
                      <a href="/blog/{{userID}}/logout">退出</a>
                 </div>
               {%else%}
                  <a href="/blog/gologin">登陆</a>
                  <a href="/blog/goregister">注册</a>
               {%endif%}
              </div>
          </div>
          <div id="header">
            {%block header%}
               <div><a href="/blog/{{userID}}">{{userName}}的blog</a></div>
            {%endblock%}
          </div>
          <div id="navigator">
              {%block nav%}
              {%endblock%}
           </div>
          <div id="body">
              <div id="side">
                 <div id="user">
                   <div id="sidehead">
                      <span>个人资料</span>
                   </div>
                   <div id="sidebody">
                      <div id="usersurface">
                         <img src='pic/default.jpg'>
                         <div><a href="/blog/{{userID}}">{{userName}}</a></div>
                      </div>
                   </div>
                 </div>
                 <div id="bcatecount">
                      <div id="bcatecounthead">
                     	 <span>文章分类 <a href="/blog/{{userID}}/categorymanage">编辑</a></span>
                      </div>
                      <div id="bcatecountcontent">
                     	 {% block categorydiv %}
                     	 {%endblock%}
                      </div>
                 </div>
              </div>
              <div id="main">
                {% block content %}
                {%endblock%}
             </div>
           </div>
     </body>
</html>
