{% extends "base.html" %}
   {%block userinfo%}
       <img src='/blog/pic/default.jpg'>
       <div><a href="/blog/{{userID}}">{{userName}}</a></div>
   {%endblock%}
   {%block content %}
      {%for blog in bloglists %}
         <div class='bloglist'>
         <div align="left" class='blogtitle'><a href="/blog/{{blog.userID}}/article/{{blog.id}}">{{blog.title}}</a></div>
         <div class='blogabs'>{{blog.body|truncatewords:"5"|safe}}</div>
         </div>
      {% endfor %}
    {% endblock %}
    {%block categorydiv%}
          {%for cate in category %}
               <div><a href="/blog/{{cate.userID}}/category/{{cate.name}}">{{cate.name}}</a><span>({{cate.num}})</span></div>
          {% endfor %}
    {% endblock %}
