{% extends "base.html" %}
   {%block head%}
     <title>{{username}}的博客</title>
   {%endblock%}
   {%block header%}
      <h1 style="text-align:center">{{username}}的blog</h1>
   {%endblock%}
   {%block nav%}
   <ul class="nav">
      <li id='btlist' class='navli'>
         <a href='/blog'>博客目录</a>
      </li>
      {%if logined %}
         <li id='btmanage' class='navli'>
            <a href='/blog/articlemanage'>管理博客</a>
         </li>
         <li id='btedit' class="navli">
            <a href="/blog/edit">发表新博客</a>
         </li>
         </ul>
     {% else%}
         </ul>
     {%endif%}
  {%endblock%}
   {%block userinfo%}
       <img src='pic/default.jpg'>
       <div>{{username}}</div>
   {%endblock%}
   {%block content %}
      <table id="bloglist">
      {%for post in posts %}
         <tr class="blogtitle"><td align="left"><a href="/blog/article/{{post.id}}">{{post.title}}</a></td></tr>
      {% endfor %}
      </table>
    {% endblock %}
    {%block categorydiv%}
          {%for cate in category %}
               <div><a href="/blog/category/{{cate.name}}">{{cate.name}}</a><span>({{cate.num}})</span></div>
          {% endfor %}
    {% endblock %}
