<html>
   <head>
     <title>管理博客</title>
     <link rel="stylesheet" type="text/css" href="css/manageblog.css">
   </head>
   <body>
     <div id="bodyrigion">
        <div id="tablehead">
          <div id="manbtndiv">
            <a href="/blog/{{userID}}/articlemanage">文章管理</a>
            <a href="/blog/{{userID}}/categorymanage">类别管理</a>
          </div>
          <div id="reblog">
            <a href="/blog/{{userID}}">我的博客</a>
          </div>
        </div>
        <div id="managecontentdiv">
          {%block managecontent %}
          {%endblock%}
        </div>
     </div>
   </body>
</html>
