{% extends "base.html" %}
   {%block head%}
     <title>{{userName}}的博客</title>
   {%endblock%}
   {%block content %}
         {%for post in posts %}
         <div class="bloglist">
         	<div class="blogtitle"><td align="left"><a href="/blog/{{post.userID}}/article/{{post.id}}">{{post.title}}</a></td></div>
         	<div class='blogabs'>{{post.body|truncatewords:"5"|safe}}</div>
         </div>
         {%endfor%}
    {% endblock %}
    {%block categorydiv%}
          {%for cate in category %}
               <div>
               <li><a href="/blog/{{cate.userID}}/category/{{cate.name}}">{{cate.name}}</a><span>({{cate.num}})</span></li>
               </div>
          {% endfor %}
    {% endblock %}


