<html>
   <head>
     <title>编辑文章</title>
     <link rel="stylesheet" type="text/css" href="css/editblog.css">
   </head>
   <body>
     <div id="main">
        <div id="myblog">
          <a href="/blog/{{userID}}">我的博客</a>
        </div>
       <form action="/blog/{{userID}}/create/submitblog" method="post" id="blogform">
        {% csrf_token %}
        <div id="blogtitlediv">
           <strong>文章标题</strong>
           <div>
              <input id="btitleinput" type="text" name="blogtitle">
           </div>
        </div>
        <div id="blogcatediv">
           <strong>文章分类</strong>
           <div>
             <select id="blogcateselect" name="blogcategory">
                {%for category in categorys%}
                <option value="{{category.name}}">{{category.name}}</option>
                {%endfor%}
             </select>
           </div>
        </div>
        <div id="blogcontentdiv">
           <strong>文章内容</strong>
           <div>
              <textarea  name="blogcontent" rows="45"></textarea>
           </div>
        </div>
        <div id="blogsubmit">
           <input id="blogsubmitbt" type="submit" name="submit" value="提交">
        </div>
     </form>
     </div>
   </body>
</htmml>
