<html>
   <head>
     <title>编辑文章</title>
     <link rel="stylesheet" type="text/css" href="css/editblog.css">
     <script type="text/javascript" src="js/editblog.js"></script>
     <script type="text/javascript">
         window.onload=function (){
              SelectCategory("{{article.category.name}}");
         }
     </script>
   </head>
   <body>
     <div id="main">
     <form action="/blog/{{userID}}/edit/submitblog/{{article.id}}" method="post" id="blogform">
        {% csrf_token %}
        <div id="blogtitlediv">
           <strong>文章标题</strong>
           <div>
              <input id="btitleinput" type="text" name="blogtitle" value="{{article.title}}" />
           </div>
        </div>
        <div id="blogcatediv">
           <strong>文章分类</strong>
           <div>
             <select id="blogcateselect" name="blogcategory">
                {%for category in categorys%}
                <option value="{{category.name}}">{{category.name}}</option>
                {%endfor%}
             </select>
           </div>
        </div>
        <div id="blogcontentdiv">
           <strong>文章内容</strong>
           <div>
              <textarea  name="blogcontent" rows="45">{{article.body}}</textarea>
           </div>
        </div>
        <div id="blogsubmit">
           <input id="blogsubmitbt" type="submit" name="submit" value="提交">
        </div>
     </form>
     </div>
   </body>
</htmml>

