{% extends "top_toolbar.html" %}
    {%block head%}
     <title>博客首页</title>
    {%endblock%}
    {%block main%}
     
     <div id="main">
        {%for blog in blogs%}
          <div class="bloglist">
              <div class="blogtitle"><a href="/blog/{{blog.userID}}/article/{{blog.id}}">{{blog.title}}</a></div>
              <div >{{blog.body|truncatewords:"1"|safe}}</div>
              <div class="bloginfo"><a href="/blog/{{blog.userID}}" class='username'>{{blog.userName}}</a>发表于{{blog.timestamp|date:"Y-m-d H:i:s"}}</div>
          </div>
        {%endfor%}
     </div>
     <div id="blogcontrol">
       <h4>当前共有{{blogrow}}页 {{totalnum}}篇博客</h4>
       <div id='pagediv'>
         {%if prepage%}
         <a href="/blog/page/{{prepage}}">前一页</a>&nbsp &nbsp
         
         {%endif%}
        {% if pregroup%}
         <a href='/blog/page/{{pregroup}}'>...</a>
        {%endif%}
         {%for page in blogarray%}
            {%ifequal page currentpage%}
              <strong>{{page}}</strong>
            {%else%}
              <a href='/blog/page/{{page}}'>{{page}}</a>
            {%endifequal%}
         {%endfor%}
        &nbsp
        {% if nextgroup%}
        <a href="/blog/page/{{nextgroup}}">...</a>
        {%endif%}
        {%if nextpage %}
        <a href="/blog/page/{{nextpage}}">下一页</a>
        {%endif%}
     </div>
    {%endblock%}
