<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="/blog/js/jquery-1.4.1.min.js" type="text/javascript"></script>
  <script src="/blog/js/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>
  <script type="text/javascript">   
  function getdata() {
    var name = $("#Name").val();
    $.post("checkname", { "Name": name }, function(data, status) {
      if (status == "success") {
        if (data=='0') {
          //alert("可以使用"+data);
          document.getElementById("show").innerHTML="用户名可用";
          $("#show").css("color", "green");
          document.getElementById("sub").disabled=false;
        }
        else {
          //alert(data);
          document.getElementById("show").innerHTML="用户名已被注册";
          document.getElementById("sub").disabled=true;
          $("#show").css("color", "red");
        }
        // document.getElementById("show").innerHTML=data;
      }
      else {
        alert("ajax处理错误")
      }
    });
  }
  </script>
  <title>用户注册</title>

</head>

<body>
 {% if errors %}  
        <li>  
  
            {% for error in errors %}  
             <p style="color: red;">  
                Please correct the error: {{error}} below.  
             </p>  
              {% endfor %}  
        </li>  
    {% endif %} 

  <form name="frm" method="post" action="register" >
  {% csrf_token %}

    <table width="34%" border="1" align="center">

      <tr>

        <td width="30%" height="35" align="right" >用户名：</td>

        <td width="70%" height="35">
          <input type="text" name="Name" id="Name" onblur="1getdata()"/>(2-8个汉字或者5-16位数字或者字母)
          <div id="show" style=" float:left;font-size:12px;"></div></td>
      </tr>

      <tr>

        <td width="30%" height="35" align="right">密码：</td>

        <td width="70%" height="35"><input type="password" name="Password" />(5-16位数字或者字母)</td>
      </tr>

      <tr>

        <td height="35" colspan="2" align="center"><input type="submit" name="sub" id="sub" value="注册" />
          <a href="/blog/gologin">已有账号，去登陆</a></td>

        </tr>

      </table>

    </form>

  </body>

  </html>
