body{
    background-color:rgb(204, 232, 207);
    padding:0 5em;
    text-align:center;
}
#main{
    width:960px;
    text-align:left;
    margin:0 auto;
}
#blogform{
    width:100%;
}
#myblog{
    text-align:right;
}
strong{
}
#blogtitlediv{
   margin:10px 0;
   width:100%;
}
#blogcatediv{
   margin-bottom:10px;
}
#blogcateselect{
  margin-right:10 px;
}
.addtext{
   float:left;
}
#addcategory{
    display:none;
}

#btitleinput{
   width:800px;
}
#blogcontentdiv{
  margin-bottom:10px;
}
#blogconten{
  display:none;
}
#blogsubmitbt{
   float:right;
   margin-right:160px;
   background:#428BD1;
   width:200px;
   text-align:center;
   cursor:pointer;
}
