body{
   height:100%;
   width:100%;
   margin:0;
   text-align:center;
}
body a{
   text-decoration:none;
}
#head{
   width:100%;
   height:40px;
   margin:0px;
   border:solid 1px;
   background:#48525e;
}
#bloglogo{
   background-image:url("/blog/pic/logoindex.jpg");
   width:40px;
   height:40px;
   float:left;
   margin-left:20px;
}

#loginarea{
   float:right;
   margin-right:20px;
   text-align:center;
   padding:10px;
}
#loginarea a{
   color:white;
}
#main{
   width:50%;
   height:40%;
   border:solid 1px;
   margin:0 auto;
   text-align:center;
   margin-top:10px;
}
.bloglist{
   text-align:left;
   margin:10px;
   border-bottom:1px dotted #ccc;
}
.bloginfo{
   margin:3px;
   margin-top:10px;
   color:#888;
   font-size:12px;
   margin-right:30px;
}
.username{
   color:blue;
   margin-right:6px;
}
#logindiv{
   border:solid 1px;
   display:none;
   background:white;
}
#logindiv a{
   color:black;
}
