body{
   text-align:center;
}
a{
   text-decoration:none;
}
#managecontentdiv{
   width:960px;
}
#artmanagetb{
   width:100%;
   border:solid 1px #ddd;
   cellpadding:10px;
}

#mantitletr{
   width:70%;
   padding:10px;
   
}
#manoperator{
   width:30%;
   text-align:center;
}
.mblogtdt{
    padding:5px;
    text-align:left; 
}
.mblogtdo{
    padding:5px;
    text-align:center;
}
